<div class="container-fluid">
  <h1 class="display-4">New country</h1>
  <div class="row">
    <div class="col-md-6">
      <%= render "form", country: @country %>
      <%= link_to countries_path, class: "btn btn-primary" do %>
        <%= fa_icon 'arrow-left' %> Countries
      <% end %>
    </div>
  </div>
</div>
