<div class="container-fluid">
  <h1 class="display-4">New place</h1>
  <div class="row">
    <div class="col-md-6">
      <%= render "form", place: @place %>
    </div>
       <%= link_to country_city_places_path(@country, @city), class: "btn btn-secondary btn-icon mb-2", title: "Back to places under this city" do %>
  <%= fa_icon 'arrow-left' %> Places
<% end %>
  </div>