<% if flash.any? %>
<% flash.each do |message_type, message| %>
    <div class="alert <%= message_type == 'notice' ? 'alert-success' : 'alert-danger' %> alert-dismissible fade show auto-close-alert">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    <%= content_tag(:div, message) %>
  </div>
<% end %>
<%end%>
<script>
  // Wait for the DOM to be fully loaded
  document.addEventListener('turbo:load', function() {
    setTimeout(() => {
      document.querySelectorAll('.auto-close-alert').forEach(alert => {
        alert.style.opacity = '0';
        alert.addEventListener('transitionend', function() {
          alert.remove();
        });
      });
    }, 3000);
  });
</script>
